<div id="alertMsg" class="container-fluid my-0 py-0 px-0 mx-0 my-0 ">
    <!-- Checking error -->
    <% if(error && error.length > 0){ %>
    <script>
        alertJS();
    </script>
    <div class="alert alert-danger text-center mb-2 py-1 w-50 mx-auto" role="alert">
        <%= error %>
    </div>
    <% } %>
    <!-- Checking Success -->
    <% if(success && success.length > 0){ %>
    
    <div class="alert alert-success text-center  mb-2 py-1 w-50 mx-auto" role="alert">
        <%= success %>
    </div>
    <script>
        alertJS();
    </script>
    <% } %>
</div>
