        <!-- //bottom sticky navbar -->
        <section id="footer">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        Make My Blogs
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            <a href="https://www.facebook.com/marufmonem.anik" class="contactLinks"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/maruf_monem_anik/" class="contactLinks"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/marufmonemanik" class="contactLinks"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="mailto: maruf.monem@g.bracu.ac.bd?cc=marufmonem@google.com" class="contactLinks"><i
                                    class="far fa-envelope"></i></a>
                            <a href="https://github.com/MarufMonem" class="contactLinks"><i class="fab fa-github"></i></a>
                        </p>
                        <p class="text-center">Copyright@2020</p>
                    </div>
                </div>
            </section>
        