<%- include("../views/partials/header") %>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../adminFaq.css">
<title>Admin | FAQ Create</title>
</head>

<body>

    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" href="/"><i class="fas fa-pen-nib"></i> Make My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Admin</a>
                    <a class="nav-item nav-link" href="#">Blogs</a>
                    <a class="nav-item nav-link active" href="/faq/admin">Faq</a>
                    <a class="nav-item nav-link" href="#">Updates</a>
                </div>

                <%- include("../views/partials/loginInfo") %>
            </div>

        </nav>
    </section>
    <section>
        <!-- //Header Image -->
        <div class="scallop-up"></div>
        <div id="header">
            <h1 class="text-center display-3 py-5 mb-0">Admin: FAQ Section</h1>
        </div>

        <div class="scallop-down"></div>
    </section>

    <!-- Body content -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <!-- naviagtion button -->
                <div class="col-md-3">
                    <a href="#" class="btn btn-light d-block mb-2">All faq</a>
                    <a href="#" class="btn btn-light d-block mb-2">Create new</a>
                </div>

                <!-- nav content -->
                <div class="col-md-9">

                    <!-- table -->
                    <div class="container w-75">
                        <table class="table table-hover  table-bordered table-dark">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Desription</th>
                                    <th>Created</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tr>
                                <td>a</td>
                                <td>b</td>
                                <td>c</td>
                                <td>d</td>
                                <td>e</td>
                                <td>f</td>
                                <td>g</td>
                            </tr>
                            <tr>
                                <td>a</td>
                                <td>b</td>
                                <td>c</td>
                                <td>d</td>
                                <td>e</td>
                                <td>f</td>
                                <td>g</td>
                            </tr>

                        </table>
                    </div>

                    <!-- Form -->

                    <form class="w-50 justify-content-center mx-auto" action="/faq/create" method="POST">
                        <div class="form-group">
                            <label >Title</label>
                            <input type="name" class="form-control" placeholder="Enter title" name=faq[title]>
                        </div>
                        <div class="form-group">
                            <label >Image</label>
                            <input type="name" class="form-control" placeholder="Enter image link" name=faq[image]>
                        </div>
                        <div class="form-group">
                            <label >Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger w-50">Submit</button>
                    </form>
                </div>


            </div>
        </div>
    </section>

    <section class="mt-3">

    </section>

    <%- include("../views/partials/bottomNavbar") %>

    <%- include("../views/partials/footer") %>