<%- include("../views/partials/header") %>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="login.css">
<title>Login | Make My Blog</title>
</head>

<body>
    <!-- Navigation Bar -->
    <section id="navbar">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="/"><i class="fas fa-pen-nib"></i> Make My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Blogs</a>
                    <a class="nav-item nav-link" href="#">About Us</a>
                    <a class="nav-item nav-link disabled" href="#">Disabled</a>
                </div>

                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/register">Sign Up</a>
                    <a class="nav-item nav-link active" href="/login">Login</a>
                </div>
            </div>

        </nav>
    </section>

    <!-- Form and image -->
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center my-0 py-0">
                <div id="leftHeader" class="col-12 col-md-5 d-none d-md-flex px-0  align-items-center">
                    <div class="centered w-75 mx-auto text-center">
                        <h2>Login</h2>
                        <p class="lead">Writing amazing blogs are just a few clicks away</p>
                    </div>
                </div>

                <div id="rightForm" class="col-12 col-md-6 py-5 align-items-center text-center">
                    <!-- <p>Fill the the form with your credentials</p> -->
                    <form action="/login" method="post">
                        <div id="mobileScreenHeader" class="d-md-none">
                            <h2 class="display-4 ">Login</h2>
                            <p class="lead">Writing amazing blogs are just a few clicks away</p>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control w-75 mx-auto" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control w-75 mx-auto" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <button type="submit" class="w-50">Submit</button>
                    </form>



                </div>
            </div>

        </div>
    </section>



    <%- include("../views/partials/bottomNavbar") %>

    </div>


    <%- include("../views/partials/footer") %>